* {
  padding: 0;
  margin: 0; }

.main {
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: auto;
  display: grid; }
  .main header {
    grid-area: 1 / 1 / 2 / 6; }
  .main .team-list-teamA {
    grid-area: 4 / 2 / 5 / 3; }
  .main .player-list {
    grid-area: 4 / 3 / 5 / 4; }
  .main .team-list-teamB {
    grid-area: 4 / 4 / 5 / 5; }
  .main .input-form {
    grid-area: 2 / 3 / 3 / 4; }
  .main .controller {
    grid-area: 3 / 3 / 4 / 4; }
  .main header,
  .main .team-list-teamA,
  .main .player-list,
  .main .team-list-teamB,
  .main .input-form,
  .main .controller {
    border: 1px solid lightgrey; }

.main {
  font-family: 'Work Sans', sans-serif; }

header {
  padding: 1rem;
  display: flex;
  justify-content: center; }
