.team-list-teamA, 
.team-list-teamB {
	padding: 1rem;
	margin: 0.5rem;
	border: 1px solid lightgrey;
	border-radius: 5px;

	h2 {
		display: flex;
		justify-content: center;
		margin-bottom: 0.5rem;
	}

	ul {
		list-style: none;
	}
}